* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.4rem 2.4rem;
}

.primary {
    background: #ff6200;
    border-radius: 0.5rem;
    color: #FFFFFF;
}

:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    background: #000000;
    color: #f4f4f4;
}

input,
select,
button {
    font-family: 'Roboto', sans-serif;
    all: unset;
}

header {
    min-height: 53.2rem;
    background-color: #F8F8FF;
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
    background-color: #000000;
}

header::before {
    content: "";
    background-image: url(../Imagens/bg.jpg);
    background-size: cover;
    opacity: .3;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

header .content {
    width: fit-content;
    margin: auto;
    z-index: 1;
    position: relative;
    padding: 10rem 0;
}

header p {
    line-height: 160%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #ffa600;
}

header h1 {
    font-size: 4.8rem;
    line-height: 125%;
    color: #ffffff;
    max-width: 64.7rem;
    margin: 1.8rem auto 0;
}

header h1 span {
    color: #ff6200;
}

header .top {
    text-align: center;
}

form {
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    gap: 2.4rem;
    background: #ffffff;
    border: 0.1rem solid #eaeaea;
    border-radius: 1rem;
}

.select,
.search-field {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background: #f4f4f4;
    border-radius: 0.5rem;
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

.search-field,
.select i {
    color: #000000;
    font-size: 2.4rem;
}

input,
select {
    color: #7c7c8a;
    min-width: 29rem;
    font-size: 1.8rem;
}

form button {
    padding: 1.2rem 3.2rem;
    background: #ff6200;

}

.primary:hover {
    background: #ffa600;
    color: #ffffff;
}

main .content-bottom {
    max-width: 1216px;
    margin: 10rem auto;
}

section.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view {
    display: flex;
    padding: 8px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
}

section.cards {
    margin-top: 4rem;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    max-width: 36.4rem;
}

.card img {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    height: 500px
}

.card-content {
    display: grid;
    padding: 1.6rem;
    gap: 1.6rem;
}

.card-content h3 {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    align-items: center;
}

.card-content h3 i {
    color: #ff6200;
    cursor: pointer;
}

.card .star {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.star i {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
}